<nav>
    <div class="logo">
        <h2>Expense Management System</h2>
    </div>
    <div class="links">
        <div class="search">
            <form action="" method="GET">
                <input type="text" name="q" placeholder="search.......">
                <input type="submit" value="search">
            </form>
        </div>
        <div class="links">
            <a href="">HOME</a>
            <a href="">ADD BUDGET</a>
            <a href="">ADD EXPENSE</a>
            <a href="">HISTORY</a>
            <a href="">REGISTER</a>
        </div>
</nav>