{% extends 'main.html' %}
{% block content %}
    <center>
        <div class="page-title">
            <h2>Registration Form</h2>
            <div>
                <form action="" method="POST">
                    <label for="">FirstName:</label>
                    <input name="firstname" type="text"><br>
                    <label for="">LastName:</label>
                    <input name="lastname" type="text"><br>
                    <label for="">AGE:</label>
                    <input name="age" type="text"><br>
                    <label for="">Email:</label>
                    <input name="email" type="text"><br>
                    <label for="">Phone Number:</label>
                    <input name="phone" type="text"><br>
                    <label for="">UserName:</label>
                    <input name="username" type="text"><br>
                    <label for="">Password:</label>
                    <input name="Password" type="password"><br>                    
                </form>
            </div>
        </div>
    </center>
{% endblock content %}